In [19]:
import pandas as pd
import numpy as np

In [20]:
reddit = pd.read_csv("Reddit_Combi.csv", sep=';')
reddit.drop(['Unnamed: 4'], axis=1, inplace=True)
reddit.head()

,title,body,Body_Title,label
0,Envy to other is swallowing me,"Im from developingcountry, Indonesia , and for...",Envy to other is swallowing me Im from develop...,1
1,Nothin outta the ordinary. Paradise. Job stres...,Um hello ....well many can relate im sure. Aft...,Nothin outta the ordinary. Paradise. Job stres...,1
2,Almost 49 and the chasm of emptiness has never...,I’ve been diagnosed severe bi polar where you ...,Almost 49 and the chasm of emptiness has never...,1
3,I’m happy again,"After my closest friend left me in April, I ha...",I’m happy again After my closest friend left m...,0
4,Is it possible to recover from such a traumati...,"I am only 15, and yet I feel my life is alread...",Is it possible to recover from such a traumati...,1

In [21]:
print(reddit.shape)
reddit.isnull().sum()

(3123, 4)

title          0
body          10
Body_Title     0
label          0
dtype: int64

In [28]:
twitter = pd.read_csv("Twitter_ Non-Advert-Tabelle 1.csv", sep=';')
twitter.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
twitter.head()

                                                text  label
0   speak-no-evil monkey Can I Be Honest With You...      1
1  Frau Goebbels early signs of psychosis psychot...      1
2  A lot of work and unfulfilled tasks plunge you...      1
3  Private health insurance delivers value for yo...      1
4  XpertOnline offers you the convenience of view...      1

In [23]:
print(twitter.shape)
twitter.isnull().sum()

(2051, 2)

text     0
label    0
dtype: int64

In [26]:
dataset = pd.DataFrame({
    'text': np.append(reddit['Body_Title'], twitter['text']),
    'label': np.append(reddit['label'], twitter['label'])
})
dataset.head()

                                                text  label
0  Envy to other is swallowing me Im from develop...      1
1  Nothin outta the ordinary. Paradise. Job stres...      1
2  Almost 49 and the chasm of emptiness has never...      1
3  I’m happy again After my closest friend left m...      0
4  Is it possible to recover from such a traumati...      1

In [27]:
print(dataset.shape)
dataset.isnull().sum()

(5174, 2)

text     0
label    0
dtype: int64